mixin card-blogPost(post)
  article(itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting").card

    a(href=post.Url): img( itemprop="image url" itemscope itemtype="https://schema.org/ImageObject" src=post.imgUrl  alt=post.imgAlt ).card__img

    h2(itemprop="name headline").card__title: a(href=post.Url)=post.blogPostTitle

    p(itemprop="description").card__content=post.description
    span(itemprop="author" itemscope itemtype="https://schema.org/Person").card__author
      a(rel="author" itemprop="url" href="#" title="Ver articulos del autor")
        span(itemprop="name")=post.author
    span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
      meta(itemprop="name" content=site.name)
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        meta(itemprop="url" content=site.logoUrl)
        meta(itemprop="width" content="60")
        meta(itemprop="height" content="60")
    time(datetime=post.dateTimeMeta itemprop="datePublished").card-blog__date=post.date