mixin card-blogPost(post)
  article(itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting").card

    a(href=post.Url): img(src=post.imgUrl itemprop="image" itemscope itemtype="https://schema.org/ImageObject" alt=post.imgAlt ).card__img

    h2(itemprop="name headline").card__title: a(href=post.Url)=post.blogPostTitle

    p(itemprop="description").card__content=post.description
    time(datetime=post.dateTimeMeta itemprop="datePublished").card-blog__date=post.date